<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<style>

</style>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <i class="fas fa-chalkboard"></i> Welcome To Dashboard
    </a>
  </nav>
  <br>
  <div class="container">
    <div class="row" style="align-content:center">
      <div class="col-md-3">
        <a href="/line">
          <div class="card text-white bg-danger" style="max-width: 15rem;">
            <div class="card-body ">
              <div class="text-center">
                <i class="fas fa-chart-line fa-9x"></i>
                <p><b style="font-size: 30px;">Line</b></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/pie">
          <div class="card text-white bg-warning" style="max-width: 15rem;">
            <div class="card-body ">
              <div class="text-center">
                <i class="fas fa-chart-pie fa-9x"></i>
                <p><b style="font-size: 30px;">Pie</b></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/bar">
          <div class="card text-white bg-success" style="max-width: 15rem;">
            <div class="card-body ">
              <div class="text-center">
                <i class="fas fa-chart-bar fa-9x"></i>
                <p><b style="font-size: 30px;">Bar</b></p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/maps">
          <div class="card text-white bg-primary" style="max-width: 15rem;">
            <div class="card-body ">
              <div class="text-center">
                <i class="fas fa-globe-asia fa-9x"></i>
                <p><b style="font-size: 30px;">Maps</b></p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="text center">
      <div class="card text-white bg-light" style="max-width: 15rem;">
        <a href="/login">
          <div class="card-body ">
            <div class="text-center">
              <i class="fas fa-user-cog fa-9x"></i>
              <p><b style="font-size: 30px;">Admin Panel</b></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

</html>