<% include partials/header %>
<div class="container">
    <button id="button-add" type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Add</button>
    <br><br>
    <div id="input-alert" class="alert alert-danger" role="alert"></div>
    <div id="form-add" class="card" style="background:whitesmoke">
        <div class="card-body">
            <form class="form-inline" id="add-form">
                <input id="data-id" type="hidden" value="" />
                <div class="form-group">
                    <label for="addletter" class="col-sm-2 col-form-label">Letter</label>
                    <div class="col-sm-5">
                        <input width="250" class="form-control" id="add-letter" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addletter" class="col-sm-3 col-form-label">Frequency</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="0.000" id="add-frequency" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
            </form>
        </div>
    </div>
    <br>
    <h4>Search</h4>
    <hr>
    <form class="form-inline">
        <div class="form-group">
            <label for="addletter" class="col-sm-2 col-form-label">Letter</label>
            <div class="col-sm-5">
                <input width="250" class="form-control" id="search-letter">
            </div>
        </div>
        <div class="form-group">
            <label for="addletter" class="col-sm-3 col-form-label">Frequency</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="0.000" id="search-frequency">
            </div>
        </div>
    </form>
    <br>
    <table class="table table-striped" id="dataTable">
        <thead>
            <th>#</th>
            <th>ID</th>
            <th>Letter</th>
            <th>Frequency</th>
            <th style="text-align:center">Action</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    $('#add-letter').datepicker({
        uiLibrary: 'bootstrap4'
    });

    $('#search-letter').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
<script type="text/javascript">
    const API_URL = 'http://localhost:3001/api/datadates'
    const token = '<%= data.token %>'

    const listData = (data) => {
        let html = '';
        data.forEach((item, index) => {
            html += `<tr>`
            html += `<td>${index + 1}</td>`
            html += `<td>${item._id}</td>`
            html += `<td>${item.letter}</td>`
            html += `<td>${item.frequency}</td>`
            html += `<td style="text-align:center">
                        <button class="btn btn-success btn-edit" data-id="${item._id}"
                            data-letter="${item.letter}" data-frequency="${item.frequency}"><i class="fas fa-edit"></i> Update</button>
                        <button class="btn btn-danger btn-hapus" data-id="${item._id}"
                            onclick="return confirm('Anda yakin?');"><i class="fas fa-trash-alt"></i> Delete</button>
                     </td>`
            html += `</tr>`
        })
        $('#dataTable tbody').html(html)
    }

    const loadData = () => {
        $.ajax({
            headers: {'x-access-token': token},
            url: `${API_URL}`,
            method: 'GET'
        })
        .done(data => {
            listData(data);
        })    
    }

    const findData = () => {
        let letter = $('#search-letter').val();
        let frequency = $('#search-frequency').val()
        if (isNaN(frequency)) {
            showAlert('Please insert a Number!');
        } else {
            $.ajax({
                headers: {'x-access-token': token},
                url: `${API_URL}/search`,
                method: 'POST',
                data: {
                    letter: letter,
                    frequency: frequency
                }
            })
            .then(data => {
                listData(data);
            })
        }
    }

    const hideAlert = () => {
        $('#input-alert').fadeOut(1000);
    }

    const showAlert = (data) => {
        $('#input-alert').show(200);
        $('#input-alert').html(data);
        setTimeout(hideAlert, 5000);
    }

    const hideFormAdd = () => {
        $('#form-add').fadeOut(1000);
        $('#add-letter').val('');
        $('#add-frequency').val('');
        $('#data-id').val('');
    }

    const saveData = () => {
        let id = $('#data-id').val();
        let letter = $('#add-letter').val();
        let frequency = $('#add-frequency').val()
        if (isNaN(frequency)) {
            showAlert('Please insert a Number!');
        } else {
            if (!id) {
                $.ajax({
                    headers: {'x-access-token': token},
                    url: `${API_URL}`,
                    method: 'POST',
                    data: {
                        letter: letter,
                        frequency: frequency
                    }
                })
                .done(data => {
                    $('#add-letter').val('');
                    $('#add-frequency').val('');
                    $('#form-add').toggle(300);
                    loadData();
                })
            } else {
                $.ajax({
                    headers: {'x-access-token': token},
                    url: `${API_URL}/${id}`,
                    method: 'PUT',
                    data: {
                        letter: letter,
                        frequency: frequency
                    }
                })
                .done(data => {
                    $('#add-letter').val('');
                    $('#add-frequency').val('');
                    $('#data-id').val('');
                    $('#form-add').toggle(300);
                    loadData();
                })    
            }
        }
    }

    $(document).ready(() => {
        loadData();
        $('#form-add').hide();
        $('#input-alert').hide();

        $('#button-add').click(() => {
            $('#add-letter').val('');
            $('#add-frequency').val('');
            $('#data-id').val('');
            $('#form-add').toggle(300)
            setTimeout(hideFormAdd, 20000);
        })

        $('#add-form').submit((e) => {
            e.preventDefault();
            saveData();
        })

        $('#dataTable tbody').on('click', '.btn-hapus', (e) => {
            if (!confirm('Anda yakin?')) {
                loadData();
            }
            let id = $(e.target).attr('data-id');
            $.ajax({
                headers: {'x-access-token': token},
                url: `${API_URL}/${id}`,
                method: 'DELETE'
            })
            .then(data => {
                loadData();
            })
        })

        $('#dataTable tbody').on('click', '.btn-edit', (e) => {
            $('#add-letter').val($(e.target).attr('data-letter'));
            $('#add-frequency').val($(e.target).attr('data-frequency'));
            $('#data-id').val($(e.target).attr('data-id'));
            if ($('#form-add').is(':hidden')) {
                $('#form-add').toggle(300)
                setTimeout(hideFormAdd, 20000);
            } else {
                $('#form-add').show()
                setTimeout(hideFormAdd, 20000);
            }
        })

        $('#search-letter').keyup((e) => {
            $('#form-add').hide();
            $('#input-alert').hide();
            findData();
        })

        $('#search-frequency').keyup((e) => {
            $('#form-add').hide();
            $('#input-alert').hide();
            findData();
        })
    })
</script>
<% include partials/footer %>